html, body {
    height: 80%;
}

body {
    padding: 5%;
    text-align: center;
}

form {
    height: calc(75% + 3.5em);
}

textarea {
    display: block;
    margin: auto;
    margin-top: 1em;
    min-width: 70%;
    min-height: calc(100% - 5em);
    border-radius: 8px;
    border: 1px solid gray;
    padding: 1em;
    outline: none;
    font-family: monospace;
}

textarea:focus {
    border: 0;
    box-shadow: 0 0 1px 1px grey;
}

pre {
    color: white;
    text-align: left;
    overflow-y: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#links a {
    font-size: 1.2em;
}

#footer {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 0.75em;
}

#ricard {
    display: none;
}
